@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Log in</title>
    <link rel="icon" type="image/x-icon" href="/img/user03.ico">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
    <!-- Toastr -->
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
</head>
<body class="vh-100" style="background-color:#FDC996">
 
    <div class="container py-lg-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">        
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 5rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src="~/img/book03.jpg"
                                     alt="login form" class="img-fluid" style="border-radius: 5rem 0 0 5rem;" />
                            </div>
                        
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <form>

                                        <div class="d-flex align-items-center mb-3 pb-1">
                                            <span class="h1 fw-bold mb-0">Book Store for User</span>
                                        </div>

                                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                        <div class="form-outline mb-4">
                                        <input type="email" id="username" class="form-control form-control-lg" placeholder="Username" />
                                            <label class="form-label" for="form2Example17">Username</label>
                                        </div>

                                        <div class="form-outline mb-4">
                                        <input type="password" id="password" class="form-control form-control-lg" placeholder="Password" />
                                            <label class="form-label" for="form2Example27">Password</label>
                                        </div>

                                        <div class="col text-center">
                                        <a class="btn btn-success btn-lg" type="button" href="https://access.line.me/oauth2/v2.1/authorize?response_type=code&client_id=2000708568&redirect_uri=https://www.youtube.com/&state=12345abcde&scope=profile%20openid&initial_amr_display=lineqr">LINE</a>
                                            <button class="btn btn-primary btn-lg" type="button">Login</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

     </div>



    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- SweetAlert2 -->
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
</body>
</html>

<script type="text/javascript">
$(document).ready(function() {
            //console.log("dddd")
            $("#signin").click(function() {
                Login();
            })
        $("#username").keypress(function (ee) {
            if(ee.keyCode == 13) {
            Login();
            }
        })
        $("#password").keypress(function (ee) {
            if(ee.keyCode == 13) {
                Login();
            }
        })
 })
            function Login() {
                var userName = $("#username").val();
                var passWord = $("#password").val();
                //console.log("userName",userName)
                //console.log("passWord",passWord)
      
                $.ajax({
                    url: "@Url.Action("GetUser","Account")",
                    data: {
                        userName:userName,
                        passWord:passWord
                    },
                    success: function(rs){
                        if (rs.isSuccess){
                            toastr.success(rs.message)
                            sessionStorage.setItem("Key", rs.key) //เพิ่มมา กรณีที่ใช้หน้า Log out
                            setTimeout(function () { window.location.href = rs.url }, 3000)
                            //setTimeout(window.location.href = result.url,5000);
                        }else{
                            toastr.error(rs.message)
                        }
                    }
                });

            }
</script>
